html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  margin: 0 auto;
  padding: 0;
  max-width: 1242px;
  overflow-x: hidden;
}