html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  margin: 0 auto;
  padding: 0;
  max-width: 1242px;
}

.container {
  max-width: 100%;
  background-color: black;
  height: 66px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 66px;
  max-width: 1242px;
  padding-left: 27px;
}

@media (max-width: 768px) {
  .header__wrapper {
    gap: 17px;
  }
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 768px) {
  .header__menu {
    width: 100%;
    justify-content: space-between;
    gap: 5px;
  }
}

.header__logo__img {
  max-width: 224px;
  width: 100%;
}

@media (max-width: 768px) {
  .header__logo__img {
    width: 134px;
    height: 23px;
  }
}

.header__input__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  max-width: 432px;
  border-radius: 5px;
  background-color: white;
}

@media (max-width: 768px) {
  .header__input__wrapper {
    order: 5;
  }
}

.header__input {
  height: 38px;
  width: 98%;
  color: #9a9a9a;
  font-size: 16px;
  border: none;
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
  outline: 0;
}

@media (max-width: 768px) {
  .header__input {
    display: none;
  }
}

.input__button {
  margin: 0;
  background-color: #ff0022;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 40px;
  border-radius: 0 5px 5px 0;
  border: none;
  outline: none;
  gap: 12px;
  padding-right: 16px;
}

@media (max-width: 992px) {
  .input__button {
    width: 43px;
    height: 40px;
    padding-right: 6px;
  }
}

@media (max-width: 768px) {
  .input__button {
    border-radius: 5px;
  }
}

@media (max-width: 992px) {
  .input__button__word {
    display: none;
  }
}

.input__category input {
  content: url(../first-part/pasek-serwis-d-kopia_0001s_0002_Warstwa-9.png);
  width: 14px;
  height: 8px;
}

.input__category input {
  appearance: none;
}

@media (max-width: 768px) {
  .input__category {
    display: none;
  }
}

.account__wrapper {
  display: flex;
  background-color: black;
  align-items: center;
  max-width: 241px;
  position: relative;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .account__wrapper {
    max-width: 100px;
  }
}

.account__sell:hover {
  border-color: white;
}

.hamburger__menu {
  display: flex;
  flex-direction: row;
  gap: 12px;
  background-color: #2e2e2e;
  width: 102px;
  height: 66px;
  padding-right: 13px;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger__menu {
    width: 66px;
    background-color: black;
  }
}

.hamburger__menu input {
  content: url(../first-part/pasek-serwis-d-kopia_0001s_0002_Warstwa-9.png);
  width: 14px;
  height: 8px;
  z-index: 1;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger__menu input {
    width: auto;
    height: auto;
  content: url(../first-part/pasek-serwis-d-kopia_0001s_0000_Inteligentny-obiekt-wektorowy.png);
  }
}

@media (max-width: 768px) {
  .hamburger__menu input {
   appearance: none;
  }
}

.hamburger__menu input {
  appearance: none;
  padding: 0;
  margin: 0;
}

.hamburger__menu input:checked {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .hamburger__menu input:checked {
    width: auto;
    height: auto;
  content: url(../first-part/pasek-serwis-m-kopia_0001s_0004_Inteligentny-obiekt-wektorowy.png);
  }
}

.hamburger__menu__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

@media (max-width: 768px) {
  .hamburger__menu__icon {
    display: none;
  }
}

.account__bg {
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .account__bg {
    display: none;
  }
}

@media (max-width: 768px) {
  .sidebar {
    translate: 100%;
    height: 100vh;
  }
}

.account__icon {
  position: absolute;
  z-index: 2;
}

@media (max-width: 768px) {
  .sidebar {
    translate: 100%;
    height: 100vh;
  }
}

.sidebar {
  z-index: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 241px;
  height: 251px;
  top: 0;
  padding-top: 10px;
  background-color: #2e2e2e;
  font-size: 15px;
  translate: 0 -100%;
  transition: translate 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .sidebar {
    translate: 100%;
    height: 100vh;
  }
}

.hamburger__menu:has(input:checked) + .sidebar {
  translate: 0;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.sidebar__items {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

.sidebar__img {
  display: flex;
  justify-self: center;
}

.sidebar__divider {
  display: flex;
  justify-self: center;
  justify-content: center;
}

.sidebar__sell {
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 2px solid #03adfd;
  width: 123px;
  height: 39px;
  border-radius: 5px;
  margin-left: 10px;
}

.sidebar__sell:hover {
  border-color: white;
}

@media (max-width: 992px) {
  .sidebar__sell {
    display: flex;
  }
}

.sidebar__logout {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  gap: 15px;
}
